<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Currently Attending Weber State University to become a Software Engineer. Currently a sophmore. Aspiring Programmer.
          <a href="https://www.twitch.com/phassss">Visit My twitch</a>
          <a href="https://www.weber.edu/">Visit My Schools Site</a>
        </p>
      </div>
      <div class="col-lg-4">
        <p> Aspiring Esports player, currently playing for Weber State and on schlorship for the game Valorant.
        </style>
      </head>
      <body>
      
      <h2>Esports Teams</h2>
      
      <table>
        <tr>
          <th>Teams</th>
          <th>Game</th>
          <th>Years</th>
        </tr>
        <tr>
          <td>Weber State University</td>
          <td>Valorant</td>
          <td>2022-2023</td>
        </tr>
        <tr>
          <td>Farmington High School</td>
          <td>LoL</td>
          <td>2021</td>
        </tr>
        <tr>
          <td>NSG</td>
          <td>LoL</td>
          <td>2021</td>
        </tr>
        
      </table>
      
      </body>
      </html>
      
      
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
